
//## Colors

//### Primary

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

//### Neutral

$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

//## Typography

//### Body Copy

$size-primary: 15px;

//### Fonts

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

$font-primary: 'Poppins', sans-serif;

$font-weights: (
    "extra-light": 200,
    "regular": 400,
    "semi-bold": 600
);


body 
{
    background-color: $very-light-gray;
    font-family: $font-primary;
    font-size: $size-primary;    
}
